# 🌐 Conexão com o banco (nome do serviço = db). Não precisa caso for rodar com docker
DATABASE_URL="postgresql://postgres:postgres@db:5432/projetoPweb?schema=public"

# 🚀 Porta de execução do backend (localmente)
PORT=3333

# 🌦️ Chave da API do OpenWeatherMap
OPENWEATHER_API_KEY=xxxxxxxxxxxxxxxxxx
